body{
    font-family: 'Poppins', sans-serif;
    margin:0
}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
p{
    margin-bottom: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;  
    padding-left: 5%;  
    padding-right: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-banner{
    margin-left:5%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    box-shadow: 10px 10px 150px gray;
    border-radius: 20px;
    background-color: tomato;
}
.white-color{
    color: white;
}

.al-color{
    color: yellow;
}
#item1{
    border-left: 7px solid blue;
}
#item2{
    border-left: 7px solid rgb(255, 226, 253);
}
footer p{
    text-align: center;
}